@import '../src/app/mixin';
$fontFamily:'Montserrat',
sans-serif;
$borderHeight:1px;
$mainWidth:400px;
$fontSize:15px;
// $bgColor:#13151f;
$bgColor:#141428;
$voteColor:#8c2463;
$lightBgColor:#24baef;
$bgTransparent:rgba(36, 186, 239, .6);
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;
$shadowColor:#05022196;
$starColor:#fece50;
$movieColor: rgba(19, 21, 31, 0.72);
body {
    // background: url(assets/images/1.jpg) center center no-repeat $bgColor;
    background-color: $bgColor;
    font-family: $fontFamily;
    font-size: $fontSize;
    margin-top: 70px;
    overflow-x: hidden;
}

a,
a:hover {
    color: $fontColor;
    text-decoration: none;
}

.active {
    color: $secondFontColor;
}
.appearSearch {
    display: block !important;
}

.vote {
    //background-color: $lightBgColor;
    //color: $fontColor;
    //padding: 10px;
    //font-weight: 700;
    //position: absolute;
    //top: 0;
    //right: 0;
    position: absolute;
    width: 250px;
    height: 30px;
    text-align: center;
    background: $voteColor;
    // z-index: 10;
    transform: rotate(-35deg);
    top: 18px;
    left: -92px;
    line-height: 29px;
    font-weight: 700;
    color: #fff;
    @include transition(all, .2s, ease);
}

.brdr {
    height: $borderHeight;
    background-color: $borderColor;
}

.movie {
    border: 5px solid #fff;
    @include borderRedius(5px);
    .img-overlay {
        top: -100;
        left: 0;
        background-color: $movieColor;
        width: 100%;
        height: 100%;
        @include borderRedius(5px);
        @include transition(all, .2s, ease-in-out);
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -ms-transform: scale(.95);
        -o-transform: scale(.95);
        // transition: all .3s ease-in-out;
    }
    .img-caption {
        position: relative;
        // width: 100%;
        // height: 100%;
        bottom: -120%;
        left: 0;
        // overflow: hidden;
        @include transition(bottom, .4s, ease-in-out);
    }
    .fa-star {
        color: $starColor;
        font-size: 14px;
    }
}

.movie:hover {
    img: {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
    .img-overlay {
        top: 0;
    }
    .img-caption {
        bottom: 0
    }
}

.layer {
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    font-weight: 700;
    padding: 7px 12px;
    // height: 5%;
}